
.square {
	width: 10px;
	height: 25px;
	background: blue;
}
.square.fat {
	background-color: #F7464A;
}
.square.sugar {
	background-color: #46BFBD;
}
.square.df {
	background-color: #FDB45C;
}
.square.carbon {
	background-color: #949FB1;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	margin-top: 10px;
	font-size: 20;
	font-family: Arial, sans-serif;
 #text-shadow: 2px 0px 15px #292929;
}
a.nutrition {
	margin-top:20px;
	margin-left: 20px;
}
