/*div[class|=ui-grid] { 
    text-align: center;
    padding: 30px; }
div[class|=ui-block] { 
    padding: 10px;
    vertical-align: middle;
    display: inline-block; }*/
.square {
	width: 10px;
	height: 25px;
	background: blue;
}
.square.fat {
	background-color: #F7464A;
}
.square.sugar {
	background-color: #46BFBD;
}
.square.df {
	background-color: #FDB45C;
}
.square.carbon {
	background-color: #949FB1;
}
.textlarge{
font-size: 20pt;
}
.textmiddle{
font-size: 14pt;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	margin-bottom: 10px;
	font-size: 12pt;
	font-family: Arial, sans-serif;
}
a.nutrition {
	margin-top:20px;
	margin-left: 20px;
}

.ui-block-a.foodimg img {
    width  : 100%;
    height : auto;
	
}
.foodimg {
    width  : 100%;
    height : auto;
}
#divider {
  border-bottom: 2px solid #FFFFFF;
}
		
blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 500px;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}
blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}
blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}
/*
.ui-block-a canvas {
margin-right:20px;
float:right;
}
.ui-block-a .textmiddle {
float:right;
margin-right:20px;
}*/

#buttoncontainer .ui-btn {
    padding: 10px;
}
.modal {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
 
    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
  }
 
  .modal h2 {
    background:url(/media/img/global/info.png) 0 50% no-repeat;
    margin:0px;
    padding:10px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:20px;
  }
  
  .quovolve {
          margin: 20px 0;
      }
      .quovolve blockquote {
          margin: 0;
      }
      .quovolve blockquote p {
          margin: 10px 0;
      }
      .quotes ul {
          list-style: none;
      }

      /**
       * General Navigation Styles
       */
      .quovolve-nav:before, .quovolve-nav:after {
          content: "\0020"; display: block; height: 0; visibility: hidden;    
      } 
      .quovolve-nav:after { clear: both; }
      .quovolve-nav {
          margin: 20px 0;
          line-height: 30px;
          zoom: 1;
      }
      .quovolve-nav span {
          float: left;
          margin-right: 5px;
      }
      .quovolve-nav a {
          background: #aaa;
          line-height: 20px;
          color: #fff;
          display: block;
          padding: 5px 15px;
          border: 0 none;
          text-align: center;
          /* Border Radius */
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          border-radius: 15px;
          /* Box Shadow */
          -moz-box-shadow: inset 0 1px 2px rgba(0,0,0, 0.15);
          -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0, 0.15);
          box-shadow: inset 0 1px 2px rgba(0,0,0, 0.15);
      }
      .quovolve-nav a:hover {
          background: #dd390d;
      }

      /**
       * Numbered Navigation
       */
      .nav-numbers {
          list-style: none; margin: 0;
          float: right;
      }
      .nav-numbers li {
          float: left;
          margin: 0 0 0 5px;
      }
      .nav-numbers li a {
          padding-left: 0; padding-right: 0;
          width: 30px;
      }
      .nav-numbers li.active a, .nav-numbers li a:hover {
          background: #dd390d;
      }

      /**
       * Navigation Description
       */
      .nav-text {
          margin-left: 30px;
          color: #aaa;
      }
  